<div class="container d-flex justify-content-center mt-5">
  <div class="card " style="width:30rem;">
    <img src="https://www.reshot.com/preview-assets/icons/CLWP24AVMS/error-CLWP24AVMS.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title text-center">Opps</h4>
      <h5 class="card-text text-center mb-3">Something went wrong.</h5>
      <p class="card-text text-center">Cannot find the page : https://localhost:3000/{{shortURL}}</p>
      <br>
      <a href="/" class="btn btn-outline-success d-flex justify-content-center">Back to previous page</a>
    </div>
  </div>

</div>

